@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components{
  .marginLayout{
    @apply mx-4 lg:w-[90%] lg:mx-auto lg:max-w-[80rem];
  }
  .paddingLayout{
    @apply px-6 lg:w-[90%] lg:px-0 lg:mx-auto lg:max-w-[80rem];
  }
  .formLayout{
    @apply w-full  lg:mx-auto lg:max-w-[30.375rem] mt-6 lg:mt-8 px-6 pb-8 lg:pb-16 font-circular;
  }
}

